button.circle-button {
    display: block;

    width: 50px; height: 50px;
    border-radius: 25px;
    border: 2px solid var(--accent-1);
    background-color: var(--accent-1);

    padding: 0;

    transition: .2s;
}

button.circle-button:hover, button.circle-button:focus {
    background-color: var(--background);
    box-shadow: 0 0 5px 0 var(--accent-1);
}

button.circle-button:active{
    border-color: var(--accent-2);
    box-shadow: 0 0 5px 0 var(--accent-2);
    transition: 0s;
}

button#open_editor_button {
    position: fixed;
    bottom: 60px; right: 25px;
}

.editor-open button#open_editor_button {
    transform: rotate(45deg);
}

button#open_editor_button>div:nth-child(1){
    width: 25px;
    height: 5px;
    background-color: var(--accent-0);
    
    position: absolute;
    top: 20px; left: 10px;
}

button#open_editor_button>div:nth-child(2){
    width: 5px;
    height: 25px;
    background-color: var(--accent-0);
    
    position: absolute;
    top: 10px; left: 20px;
}


button#send_post_button {
    position: fixed;
	overflow:hidden;
    bottom: 60px; right: 25px;
	font-weight: 900;
    font-size: 2em;
	color: var(--accent-0);
	transition: .5s;
	
	box-sizing: border-box;
}

.editor-open button#send_post_button {
    right: calc(100vw - 85px);
	transform: rotate(360deg);
}

button#send_post_button:active {
    padding-right: 1em;
	transition: .2s;
}


button#zen_mode_switch {
  position: fixed;
  top: 60px; right: 25px;
  color: var(--accent-0);
  transition: 1s;
  font-weight: 900;
  font-size: 2em;
}

.zen-mode button#zen_mode_switch {
  top:10px;
  transform: rotate(360deg);
}

button#editor_add_block {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid var(--accent-1);
  margin: 10px;
  transition: .5s;
}

.block-types button#editor_add_block {
  transform: rotate(45deg);
}
