.editor-blocks input[type="text"]{
  display: block;
  background-color: var(--foreground);
  border: none;
  outline: none;
}

.editor-blocks input[type="text"].h1{
  width: 100%;
  color: var(--accent-0);
  margin-bottom: 5px;
  letter-spacing: .2em;
  text-shadow: 
    0 0 2px var(--accent-0),
    0 0 1px var(--accent-0),
    1px 1px 1px #0002,
    1px 1px 1px var(--accent-1),
    1.5px 2px 1px #0004,
    1.5px 2px 1px var(--accent-1),
    2px 3px 1px #0006,
    2px 3px 1px var(--accent-1),
    2.5px 4px 1px #0008,
    2.5px 4px 1px var(--accent-1),
    3px 5px 1px #000a,
    3px 5px 1px var(--accent-1),
    3.5px 6px 1px #000a,
    3.5px 6px 1px var(--accent-1);
  font-size: 2.5em;
  font-weight: 900;
}
