button {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--accent-1);
    font-size: large;
    transition: .2s;
    cursor: pointer;
}




button.top, button.bottom {
    --selected: 0;
}

button.top:hover, button.bottom:hover {
    --selected: 1;
}

button.top:focus, button.bottom:focus {
    text-shadow: 0 0 5px var(--accent-2);
    --selected: 1;
}

button.top:active, button.bottom:active {
    color: var(--accent-2);
}

button.top::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(-50% * (var(--selected) - 1));
    background-color: var(--background);
    width: calc(100% * var(--selected));
    height: calc(25% * var(--selected));
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    transition: .5s;
}

button.bottom::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc(-50% * (var(--selected) - 1));
    background-color: var(--background);
    width: calc(100% * var(--selected));
    height: calc(25% * var(--selected));
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transition: .5s;
}


#editor_main_header {
  width: 100%;
  color: var(--accent-1);
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  background-color: var(--foreground);
  border: none;
  border-bottom: 5px solid var(--accent-1);
  box-shadow: 0 10px 5px -5px var(--background),
  0 35px 25px -20px var(--background);
  outline: none;
  color: var(--accent-1);
}





::-webkit-scrollbar-button {
    height:0px
}

::-webkit-scrollbar-track {
    background-color:   transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:var(--accent-1);
}

::-webkit-scrollbar-thumb:hover {
    background-color:var(--accent-2);
}

::-webkit-resizer{
    height:0px
}

::-webkit-scrollbar{
    width: 5px;
}
