:root {
    --header-size: 25px;
    --selected-tab: 0;
    --nav-size: 300px;
}

:root.closed-menu {
    --nav-size: 90px;
}


/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: var(--nav-size);
    height: calc(100vh - 10px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    background: var(--bg-2);
    opacity: calc(1*var(--show-nav));
    transition: clip-path 1s, width 1s;
    clip-path: polygon(0 0, calc(100% - 60px) 0, calc(100% - 50px) 10px, calc(100% - 50px) 40px, calc(100% - 40px) 50px, calc(100% - 10px) 50px, 100% 60px, 100% 100%, 0 100%);
}

:root.closed-menu nav {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 40px, 100% 50px, 100% 50px, 100% 60px, 100% 100%, 0 100%);
}

nav>button {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    box-sizing: border-box;
    padding-left: 100px;
    margin-bottom: 10px;
    border: none;
    color: var(--accent);
    outline: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    transition: 
    box-shadow 1s,
    color .2s,
    text-shadow .2s;
    transition: letter-spacing 1s, color .5s;
}

:root.closed-menu nav>button {
    letter-spacing: -.5em;
    color: transparent;
}

nav>button:focus {
    color: var(--bg);
}

nav>button:active {
    background-color: var(--accent);
    color: var(--bg-2);
}

button#close_menu {
    position: fixed;
    top: 5px; left: 255px;

    width: 50px;
    height: 50px;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;

    transition: left 1s;
}

:root.closed-menu button#close_menu {
    left: 100px;
}

button#close_menu::before {
    content: "";
    position: absolute;
    top: 22.5px;
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--accent-close);
    transform: rotate(45deg);
    box-shadow: 0 0 0 0 var(--accent-close);
    transition: 1s, box-shadow 1s linear;
}

:root.closed-menu button#close_menu::before {
    top: 10px;
    left: 6.25px;
    width: 37.5px;
    transform: rotate(0);
    box-shadow: 0 12.5px 0 0 var(--accent-open);
    background-color: var(--accent-open);
}

button#close_menu::after {
    content: "";
    position: absolute;
    bottom: 22.5px;
    display: block; 
    width: 50px;
    height: 5px;
    background-color: var(--accent-close);
    transform: rotate(-45deg);
    box-shadow: 0 0 0 0 var(--accent-close);
    transition: 1s, box-shadow 1s linear;
}

:root.closed-menu button#close_menu::after {
    bottom: 10px;
    left: 6.25px;
    width: 37.5px;
    transform: rotate(0);
    box-shadow: 0 -12.5px 0 0 var(--accent-open);
    background-color: var(--accent-open);
}

button[data-svgicon]::before {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 0;
    content: "";
    width: 70px;
    height: 50px;
    background-color: var(--accent);
    mask: var(--svg-src) 0/30px auto;
    -webkit-mask: var(--svg-src) 0/100% 100% no-repeat;
}

button[data-svgicon]:active::before {
    background-color: var(--bg-2);
}

button>*{
    pointer-events: none;
}


/* ARTICLE */

article{
    position: fixed;
    top: 0;
    left: calc(var(--nav-size) + 10px);
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100vw - var(--nav-size) - 25px);
    height: calc(100vh - 10px);
    padding-top: calc(var(--header-size) + 30px);
    margin: 5px;
    background: var(--bg-2);
    white-space: nowrap;
    transition: left 1s, width 1s;
}

article>h1.title,
nav>h1.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-size);
    line-height: var(--header-size);
    margin: 0;
    text-align: center;
    color: var(--txt-0);
    background: var(--bg-1);
    box-shadow: 0 15px 40px -10px #000, 0 15px 20px -5px #000;
}


/* Tabs */


.tabs {
    position: absolute;
    top: var(--header-size);
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 30px;
    background: var(--bg-1);
    box-shadow: 0 10px 5px 0 var(--bg-2), 0 10px 10px 0 var(--bg-2);
    transition: padding 1s;
  }
  
  
  :root.closed-menu .tabs {
      padding-left: 50px;
  }
  
  
  .tabs>button {
    display: inline-block;
    height: 100%;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--accent);
    background: var(--bg-2);
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -20px;
    clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 30px 100%);
  }
  
  .tabs>button:first-child {
      margin-right: -5px;
      margin-left: 0;
      clip-path: polygon(0 10px, 10px 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
  }
  
  .tabs>button:last-child {
      clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 30px 100%);
      margin-right: 5px;
  }
  
  .tabs>button:only-child {
      clip-path: polygon(0 10px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
  }
  
  .tabs>button:active {
    background-color: var(--accent);
    color: var(--bg-1);
  }
  
  /* Contents */
  
  .content-wrapper {
      display: contents;
  }
      
  .content {
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: normal;
      padding-bottom: 100px;
  }
  
  .content-wrapper > .content:first-child {
      margin-left: calc(-100%*var(--selected-tab));
      transition: margin-left .5s;
  }