:root {
    --header-size: 25px;
    --selected-tab: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: var(--nav);
    height: calc(100vh - 10px);
    padding-top: calc(var(--header-size) + 64px);
    padding-bottom: 100px;
    margin: 5px;
    background-color: var(--fg);
    /*border-radius: 25px 25px 0 0;*/
    opacity: calc(1*var(--show-nav));
   /* box-shadow: 
    0 5px 20px 0 black,
    0 5px 10px 0 black;*/
    transition: opacity 1s;
}

nav>button:not(#close_menu) {
    position: relative;

    width: 100%;
    height: 50px;
    line-height: 50px;

    font-size: 25px;
    
    border: none;
    color: var(--accent);
    outline: none;

    background-color: transparent;

    cursor: pointer;
    transition: 
    box-shadow 1s,
    color .2s,
    text-shadow .2s;
}

nav>button:focus:not(#close_menu) {
    color: var(--bg);
}

nav>button:active:not(#close_menu) {
    background-color: var(--accent);
    color: var(--fg);
}

nav::after {
    content: "";
    display: block;
    position: absolute;
    top: var(--header-size);
    width: 100%;
    height: 64px;
    /* background-image: url(../etc/img/grafient.png); */
    /* background-size: 64px 64px; */
    background-color: var(--bg);
    mask: url(../etc/img/bottom.svg);
    -webkit-mask: url(../etc/img/bottom.svg) 0/16px auto;
}

#resizer {
    position: fixed;
    top: 0;
    left: calc(var(--nav) - 2px);

    box-sizing: content-box;
    width: 0;
    height: calc(100vh - 50px);
    margin-top: 25px;
    margin-left: 8px;

    border: calc(8px - (4px * var(--show-nav))) solid transparent;

    padding: 0;

    background-color: transparent;
    outline: 0;

    cursor: e-resize;

    transition: border-color .5s;
}

#resizer:hover {
    border-color: white;
}

#resizer:active {
    border-color: #fff2;
}

article{
    position: fixed;
    top: 0;
    left: calc(var(--nav) + 10px);
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100vw - var(--nav) - 25px);
    height: calc(100vh - 10px);
    padding-top: calc(var(--header-size) + 35px);
    margin: 5px;
    background-color: var(--fg);
    white-space: nowrap;
}

article>h1.title,
nav>h1.title {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: var(--header-size);
    line-height: var(--header-size);
    margin: 0;

    text-align: center;

    color: var(--txt-0);
    background-color: var(--bg);
}

#open_menu {
    display: none;
}

#close_menu {
    display: none;
}
