@import url(./decoration.css);
@import url(./elements.css);
@import url(./content.css);

:root {
    --background: #000;
    --foreground: #0e1822;
    --accent-0: #fff;
    --accent-1: #2196F3;
    --accent-2: #FF5722;
    --accent-3: #52526e;
    --text-color: #a0a0af;
    --list-color-1: #F44336;
    --list-color-2: #E91E63;
    --list-color-3: #9C27B0;
    --list-color-4: #3F51B5;
    --list-color-5: #009688;
    --list-color-6: #4CAF50;
    --list-color-7: #FFC107;
    --list-color-8: #FF5722;
    --list-color-9: #795548;
    --main-block-width: 700px;
}

body {
    background-color: var(--background);
    margin: 0;
	font-family: Segoe UI;
	color: var(--text-color);
	overflow: hidden;
}

.content {
    width: 100%; height: 100%;
    transition: all .5s ease .5s;
}








/* HEADER */

header {
    position: fixed;
    left: 0;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    padding-bottom: 50px;
    background-color: var(--foreground);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    transition: all .5s ease 0s, background .5s ease .5s;
}

/* states */

.header-open header {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 200px), 50% 100%, 0 calc(100% - 200px));
    padding-bottom: 250px;
    background-color: var(--background);
}

.footer-open header, .zen-mode header {
    padding-bottom: 0;
    opacity: 0;
    visibility: hidden;
}

body:not(.header-open) header>.content {
    opacity: 0;
    visibility: hidden;
}


/* HEADER>NAV */

nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: space-around;

    transition: 1s;
}

/* states */

.header-open nav{
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
}


/* HEADER>.CONTENT */

header .top-menu {
    width: 100vw; height: 50px;
	background-color: var(--foreground);

    display: flex;
    justify-content: space-around;
}








/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: -100vh;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    background-color: var(--foreground);
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 0 100%);
    transition: all .5s ease 0s, background .5s ease .5s;
}

/* states */

.header-open footer, .zen-mode footer {
    padding-top: 0;
    opacity: 0;
    visibility: hidden;
}

.footer-open footer {
    bottom: 0;
    clip-path: polygon(0 200px, 50% 0, 100% 200px, 100% 100%, 0 100%);
    padding-top: 250px;
    background-color: var(--background);
}

body:not(.footer-open) footer>.content {
    opacity: 0;
    visibility: hidden;
}

/* FOOTER>.tool-menu */

.tool-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: space-around;
}

footer .menu {
    width: 100vw; height: 50px;
	background-color: var(--foreground);

    display: flex;
    justify-content: space-around;
	
	position: absolute;
	left:0; bottom: 0;
}







/* POST-EDITOR */

.post-editor {
    position: fixed;
    top: calc(100vh - 110px); right: 25px;
    width: 50px; height: 50px;
    border-radius: 25px;
    background-color: var(--accent-1);
    transition: .5s;
}

.post-editor>*{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.editor-open .post-editor{
    background-color: var(--background);
	box-sizing: border-box;
    top: 0; right: 0;

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
	padding-top: 50px;
    padding-bottom: 50px;
    
    border-radius: 0;
}

.editor-open.zen-mode .post-editor {padding: 0;}

.editor-open .post-editor>*:not(.type-wrapper){
  visibility: visible;
  opacity: 1;
  transition: 1s ease .5s;
}

.type-wrapper{
  display: inline;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  text-align: center;
}


.block-types .type-wrapper {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

.type-wrapper>*{
  display: inline-block !important;
  letter-spacing: -.5em;
  transition: letter-spacing .5s;
}

.block-types .type-wrapper>*{
  letter-spacing: 0;
}









/*Content*/

article {
  position: fixed;
  left: 0;top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  
  width: 100vw;
  height: 100vh;
  
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  
  display: block;
  padding-left: calc(50vw - var(--main-block-width)/2);
  padding-right: calc(50vw - var(--main-block-width)/2);

  transition: 1s;
}

.zen-mode article {
  padding: 0;
}

.header-open article, .footer-open article{
    opacity: 0;
    visibility: hidden;
}

section {
  width: calc(100% - 20px);
  min-height: 200px;
  margin: 10px;
  
  border-radius: 5px;
  background-color: var(--foreground);

  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  
  overflow-x: hidden;
  overflow-y: auto;
  transition: 1s;
}

.zen-mode section {
    padding-left: calc(50vw - var(--main-block-width)/2);
    padding-right: calc(50vw - var(--main-block-width)/2);
}


@media screen and (max-width: var(--main-block-width)) {
    article {
        margin: 0;
		width: 100vw;
    }

    .zen-mode section {
        padding-left: 5px;
        padding-right: 5px;
    }
}
