@media only screen and (max-width: 690px) {
    :root {
        --header-size: 40px;
    }

    #resizer {
        display: none;
    }

    nav {
        left: auto;
        right: calc(-75vw - 40px);
        height: 100vh;
        width: 75vw;
        margin: 0;
        border-radius: 0;
        opacity: 1;
        box-shadow:
        0 0 0 0 var(--accent-6),
        0 0 0 0 var(--accent-12),
        0 0 0 0 var( --accent-1),
        -40px 0 20px -20px #0000,
        -25vw 0 0 0 #0000;
        transition: right .5s ease .4s, 
        box-shadow .2s;
    }

    :root.open-menu nav {
        right: 0;
        box-shadow:
        -10px 0 0 -5px var(--accent-6),
        -20px 0 0 -10px var(--accent-12),
        -30px 0 0 -15px var( --accent-1),
        -40px 0 20px -20px #000f,
        -25vw 0 0 0 #0008;

        transition: right .5s, 
        box-shadow .2s ease .5s;
    }

    article {
        left: 0;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        filter: blur(0);
        transition: filter .5s ease .2s;
        padding-left: -100%;
    }
	
	:root.open-menu article{
	  filter: blur(5px);
	}

    #open_menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;

        border: none;
        background-color: var(--accent-open);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        outline: none;
    }

    #close_menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;

        border: none;
        background-color: var(--accent-close);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        outline: none;
    }
    
    #close_menu {
        display: block;
    }
}
