@media only screen and (max-width: 690px) {
    :root {
        --header-size: 40px;
    }

    #resizer {
        display: none;
    }

    nav {
        width: 100vw;
        height: 50px;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    nav>h1{
        display: none;
    }
    nav::after {
        content: none;
    }

    /* nav>button */

    nav>button>span {
        display: none;
    }

    nav>button:not(#close_menu) {
        height: 100%;
        margin: 0;
        width: 60px;
        padding: 0;
    }

    nav>button:not(#close_menu)::before {
        display: block;
        width: 50px;
        height: 30px;
        margin-left: -5px;
        margin-top: calc(50% - 15px);
    }

    article {
        left: 0;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        filter: blur(0);
        transition: filter .5s ease .2s;
        padding-left: -100%;
    }
	
	:root.open-menu article{
	  filter: blur(5px);
	}

    #open_menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        background-color: var(--accent-open);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        outline: none;
        box-shadow: 0 3px 3px 0 #000;
    }

    #open_menu:active {
        margin-top: 3px;
        box-shadow: none;
    }

    #close_menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        background-color: var(--accent-close);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        outline: none;
        box-shadow: 0 3px 3px 0 #000;
    }

    #close_menu:active {
        margin-top: 3px;
        box-shadow: none;
    }
}
