section>h1:first-child {
  width: 100%;
  color: var(--accent-1);
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  
  border-bottom: 2px solid var(--accent-1);
}

section p:first-letter {
  font-size: 2em;
  color: var(--accent-1);
  margin-left: 1em;
}

section>.image {
  --src: url(../img/orig.gif);
  background-image: var(--src);
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 10px;
}

section>.image::before {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}