button.add-button {
    display: block;
    position: fixed;
    bottom: 60px; right: 25px;

    width: 50px; height: 50px;
    border-radius: 25px;
    border: 2px solid var(--accent-1);
    background-color: var(--accent-1);

    padding: 0;

    transition: .2s;
}

.editor-open button.add-button {
    transform: rotate(45deg);
}

button.add-button:hover, button.add-button:focus {
    background-color: var(--background);
}

button.add-button>div:nth-child(1){
    width: 25px;
    height: 5px;
    background-color: var(--accent-0);
    
    position: absolute;
    top: 20px; left: 10px;
}

button.add-button>div:nth-child(2){
    width: 5px;
    height: 25px;
    background-color: var(--accent-0);
    
    position: absolute;
    top: 10px; left: 20px;
}