button.add-button {
    display: block;
    position: fixed;
    bottom: 60px; right: 25px;

    width: 50px; height: 50px;
    border-radius: 25px;
    border: 2px solid var(--accent-1);
    background-color: var(--accent-1);

    padding: 0;

    transition: .2s;
}

.editor-open button.add-button {
    transform: rotate(45deg);
}

button.add-button:hover, button.add-button:focus {
    background-color: var(--background);
}

button.add-button>div:nth-child(1){
    width: 25px;
    height: 5px;
    background-color: var(--accent-0);
    
    position: absolute;
    top: 20px; left: 10px;
}

button.add-button>div:nth-child(2){
    width: 5px;
    height: 25px;
    background-color: var(--accent-0);
    
    position: absolute;
    top: 10px; left: 20px;
}


button.send-button {
    display: block;
    position: fixed;
    bottom: 60px; right: 25px;

    width: 50px; height: 50px;
    border-radius: 25px;
    border: 2px solid var(--accent-1);
    background-color: var(--accent-1);

    padding: 0;

    transition: .2s;
}

.editor-open button.send-button {
    right: calc(100vw - 75px);
    transform: rotate(360deg);
}

button.send-button:hover, button.send-button:focus {
    background-color: var(--background);
}

button.send-button>div:nth-child(1){
    width: 20px;
    height: 5px;
    background-color: var(--accent-0);
    
    position: absolute;
    left: 10px;top: 16px;
    
    transform: rotate(-45deg);
}

button.send-button>div:nth-child(2){
    width: 20px;
    height: 5px;
    background-color: var(--accent-0);
    
    position: absolute;
    left: 10px;top:26px;

    transform: rotate(45deg);
}




/* POST-EDITOR */

.post-editor {
    position: fixed;
    bottom: 60px; right: 25px;
    width: 50px; height: 50px;
    border-radius: 25px;
    background-color: var(--accent-1);
    transition: .5s;
}

.post-editor>*{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.editor-open .post-editor{
    background-color: var(--background);
    bottom: 50px; right: 0;
    width: 100vw;
	height: calc(100vh - 100px);
    border-radius: 0;
}

.editor-open .post-editor>*{
  visibility: visible;
  opacity: 1;
  transition: 1s ease .5s;
}