@import url(./decoration.css);
@import url(./elements.css);

:root {
    --background: #101014;
    --foreground: #202028;
    --accent-0: #fff;
    --accent-1: #2196F3;
    --accent-2: #FF5722;
    --accent-3: #52526e;
    
    --list-color-1: #F44336;
    --list-color-2: #E91E63;
    --list-color-3: #9C27B0;
    --list-color-4: #3F51B5;
    --list-color-5: #009688;
    --list-color-6: #4CAF50;
    --list-color-7: #FFC107;
    --list-color-8: #FF5722;
    --list-color-9: #795548;
}

body {
    background-color: var(--background);
    margin: 0;
}

.content {
    width: 100%; height: 100%;
    transition: all .5s ease .5s;
}


/* HEADER */

header {
    position: fixed;
    left: 0;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    padding-bottom: 50px;
    background-color: var(--foreground);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    transition: all .5s ease 0s, background .5s ease .5s;
}

/* states */

.header-open header {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 200px), 50% 100%, 0 calc(100% - 200px));
    padding-bottom: 250px;
    background-color: var(--background);
}

.footer-open header {
    padding-bottom: 0;
    opacity: 0;
    visibility: hidden;
}

body:not(.header-open) header>.content {
    opacity: 0;
    visibility: hidden;
}


/* HEADER>NAV */

nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: space-around;

    transition: 1s;
}

/* states */

.header-open nav{
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
}


/* HEADER>.CONTENT */

header .top-menu {
    border-bottom: 2px solid var(--accent-1);
    width: 100vw; height: 38px;
    padding-top: 2px;

    display: flex;
    justify-content: space-around;
}








/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: -100vh;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    background-color: var(--foreground);
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 0 100%);
    transition: all .5s ease 0s, background .5s ease .5s;
}

/* states */

.header-open footer {
    padding-top: 0;
    opacity: 0;
    visibility: hidden;
}

.footer-open footer {
    bottom: 0;
    clip-path: polygon(0 200px, 50% 0, 100% 200px, 100% 100%, 0 100%);
    padding-bottom: 250px;
    background-color: var(--background);
}

/* FOOTER>.tool-menu */

.tool-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50px;

    display: flex;
    justify-content: space-around;
}


/*Content*/

article {
  position: fixed;
  white-space: nowrap;
  left: 0;top: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  
  width: 100vw;
  height: calc(100vh - 100px);

  transition: 1s;
}

.header-open article, .footer-open article{
    opacity: 0;
    visibility: hidden;
}

section {
  display: inline-block;
  width: calc(100vw - 20px);
  height: calc(100vh - 120px);
  margin: 10px;
  border-radius: 5px;
  background-color: var(--foreground);
}

.post-editor {
    position: fixed;
    bottom: 60px; right: 25px;
    width: 50px; height: 50px;
    border-radius: 25px;
    background-color: var(--accent-1);
    transition: .5s;
}

.editor-open .post-editor{
    background-color: var(--background);
    bottom: 0; right: 0;
    width: 100vw; height: 100vh;
    border-radius: 0;
}

@media screen and (max-width: 500px) {
}
