:root {
    --header-size: 25px;
    --selected-tab: 0;
    --nav-size: 300px;
}

:root.closed-menu {
    --nav-size: 90px;
}


/* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: var(--nav-size);
    height: calc(100vh - 10px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    background: var(--bg-2);
    opacity: calc(1*var(--show-nav));
    transition: clip-path 1s, width 1s;
    clip-path: polygon(0 0, calc(100% - 60px) 0, calc(100% - 50px) 10px, calc(100% - 50px) 40px, calc(100% - 40px) 50px, calc(100% - 10px) 50px, 100% 60px, 100% 100%, 0 100%);
}

:root.closed-menu nav {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 40px, 100% 50px, 100% 50px, 100% 60px, 100% 100%, 0 100%);
}

nav>button {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    box-sizing: border-box;
    padding-left: 100px;
    margin-bottom: 10px;
    border: none;
    color: var(--accent);
    outline: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    transition: box-shadow 1s, color .2s, text-shadow .2s;
    transition: letter-spacing 1s, color .5s;
}

:root.closed-menu nav>button {
    letter-spacing: -.5em;
    color: transparent;
}

nav>button:focus {
    color: var(--bg);
}

nav>button:active {
    background-color: var(--accent);
    background: linear-gradient(45deg,
      var(--accent) 12.5%,
      transparent 12.5%,
      transparent 37.5%,
      var(--accent) 37.5%,
      var(--accent) 62.5%,
      transparent 62.5%,
      transparent 87.5%,
      var(--accent) 87.5%
      );
    background-size: 5px 5px;
    color: var(--bg-2);
}

button#close_menu {
    position: fixed;
    top: 5px;
    left: 255px;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: left 1s;
}

:root.closed-menu button#close_menu {
    left: 100px;
}

button#close_menu::before {
    content: "";
    position: absolute;
    top: 22.5px;
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--accent-close);
    transform: rotate(45deg);
    box-shadow: 0 0 0 0 var(--accent-close);
    transition: 1s, box-shadow 1s linear;
}

:root.closed-menu button#close_menu::before {
    top: 10px;
    left: 6.25px;
    width: 37.5px;
    transform: rotate(0);
    box-shadow: 0 12.5px 0 0 var(--accent-2);
    background-color: var(--accent-1);
}

button#close_menu::after {
    content: "";
    position: absolute;
    bottom: 22.5px;
    display: block;
    width: 50px;
    height: 5px;
    background-color: var(--accent-close);
    transform: rotate(-45deg);
    box-shadow: 0 0 0 0 var(--accent-close);
    transition: 1s, box-shadow 1s linear;
}

:root.closed-menu button#close_menu::after {
    bottom: 10px;
    left: 6.25px;
    width: 37.5px;
    transform: rotate(0);
    box-shadow: 0 -12.5px 0 0 var(--accent-2);
    background-color: var(--accent-3);
}

button[data-svgicon]::before {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 0;
    content: "";
    width: 70px;
    height: 50px;
    background-color: var(--accent);
    mask: var(--svg-src) 0/30px auto;
    -webkit-mask: var(--svg-src) 0/100% 100% no-repeat;
}

button[data-svgicon]:active::before {
    background-color: var(--bg-2);
}

button>* {
    pointer-events: none;
}


/* ARTICLE */

article {
    position: fixed;
    top: 0;
    left: calc(var(--nav-size) + 10px);
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100vw - var(--nav-size) - 25px);
    height: calc(100vh - 10px);
    padding-top: calc(var(--header-size) + 30px);
    margin: 5px;
    background: var(--bg-2);
    white-space: nowrap;
    transition: left 1s, width 1s;
}

article>h1.title,
nav>h1.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-size);
    line-height: var(--header-size);
    margin: 0;
    text-align: center;
    color: var(--txt-0);
    background: var(--bg-1);
    box-shadow: 0 15px 40px -10px #000, 0 15px 20px -5px #000;
}


/* Tabs */

article>.tabs {
    position: absolute;
    top: var(--header-size);
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100% - 50px);
    padding-right: 50px;
    height: 30px;
    background: var(--bg-1);
    box-shadow: 0 10px 5px 0 var(--bg-2), 0 10px 10px 0 var(--bg-2);
    transition: padding 1s;
}

:root.closed-menu article>.tabs {
    padding-left: 50px;
}

article>.tabs>button {
    display: inline-block;
    height: 100%;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--accent);
    background: var(--bg-2);
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -20px;
    clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 30px 100%);
}

article>.tabs>button:first-child {
    margin-right: -5px;
    margin-left: 0;
    clip-path: polygon(0 10px, 10px 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
}

article>.tabs>button:last-child {
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 30px 100%);
    margin-right: 5px;
}

article>.tabs>button:only-child {
    clip-path: polygon(0 10px, 10px 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
}

article>.tabs>button:active {
  background: linear-gradient(45deg,
    var(--accent) 12.5%,
    transparent 12.5%,
    transparent 37.5%,
    var(--accent) 37.5%,
    var(--accent) 62.5%,
    transparent 62.5%,
    transparent 87.5%,
    var(--accent) 87.5%
    );
  background-size: 5px 5px;
    color: var(--bg-2);
}


/* Contents */

.content-wrapper {
    display: contents;
}

.content-wrapper>.content {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    padding-bottom: 100px;
}

.content-wrapper>.content:first-child {
    margin-left: calc(-100%*var(--selected-tab));
    transition: margin-left .5s;
}


/* USER-INFO */

.user-info {
    --accent: var(--accent-1);
    position: fixed;
    right: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    transition: width .5s, height .5s, background .5s, clip-path .5s;
    animation: accent-animation 8s infinite;
}

.user-info>.avatar {
    overflow: hidden;
    margin: auto;
    margin-right: 0;
    margin-top: 0;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info>.avatar.no-avatar {
    --svg-src: url(../../etc/img/user.svg);
    border: 5px solid var(--accent);
    cursor: pointer;
    transition: margin .5s;
    transition: border-color .5s;
}

.user-info>.avatar.no-avatar::before {
    content: "";
    background-color: var(--accent);
    display: block;
    width: 100%;
    height: 100%;
    mask: var(--svg-src) 0/100% 100% no-repeat;
    -webkit-mask: var(--svg-src) 0/100% 100% no-repeat;
    transition: background-color .5s;
}

.user-info>.nickname {
    position: absolute;
    top: calc(35px - .5em);
    left: 20px;
    font-size: 1.8em;
    color: var(--txt-0);
    visibility: hidden;
    opacity: 0;
    letter-spacing: -.5em;
    transition: opacity .5s, letter-spacing .5s;
}

.user-info.unlogined>.nickname::before {
    content: "Someone unknown";
}

.user-info>*:not(.avatar) {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}


/* USER-INFO STATE: OPENED */

:root.opened-user-info .user-info>*:not(.avatar) {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease 1s;
}

:root.opened-user-info .user-info {
    width: 400px;
    max-width: calc(100vw - 10px);
    height: 600px;
    max-height: calc(100vh - 10px);
    background-color: rgba(var(--bg-1-r), var(--bg-1-g), var(--bg-1-b), .75);
    clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    box-shadow: 0 0 0 2px var(--bg-3) inset;
    border-radius: 0 30px 0 0;
    backdrop-filter: blur(8px);
}

:root.opened-user-info .user-info::before {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    left: 0;
    width: 10px;
    height: 36px;
    transform: rotate(45deg);
    background-color: var(--bg-3);
}

:root.opened-user-info .user-info::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -7px;
    right: 0;
    width: 10px;
    height: 36px;
    transform: rotate(45deg);
    background-color: var(--bg-3);
}

:root.opened-user-info .avatar {
    margin: auto;
    margin-right: 10px;
    margin-top: 10px;
    pointer-events: visibleFill;
}

:root.opened-user-info .user-info>.nickname {
    visibility: visible;
    opacity: 1;
    letter-spacing: 0;
}

.user-info>.content {
    --selected-tab: 0;
}

:root.opened-user-info .user-info>.content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px);
    padding-top: 40px;
    white-space: nowrap;
}

:root.opened-user-info .user-info>.content>.tabs {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

:root.opened-user-info .user-info>.content>.tabs>* {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--txt-0);
    border-bottom: 2px solid #000;
    outline: none;
    border-radius: 5px 5px 0 0;
}

:root.opened-user-info .user-info>.content>.tabs>*:active {
    color: #0008;
    background-color: var(--accent-open);
}

:root.opened-user-info .user-info>.content>.tab-wrapper {
    --selected-tab: 0;
    /* display: contents; */
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden !important;
    margin: 0;
}

.user-info>.content>.tab-wrapper>* {
    position: relative;
    top: calc(-100% * var(--selected-tab));
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: top 1s;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-info-string,
.register-info-string {
    color: var(--accent-open);
    text-shadow: 0 0 5px, 0 0 5px;
}

.login-info-string.err,
.register-info-string.err {
    color: var(--accent-close);
}


/* USER-INFO LOGINED MENU */

.user-info>.content>.list {
  width: 100%;
  height: 100%;
}


/* LOGIN-SHOW STATE */

.user-info.unlogined .log {
    display: none !important;
}

.user-info:not(.unlogined) .ulog {
    display: none !important;
}
