modal-win {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    /* margin: 10px; */
    /* visibility: hidden; */
    /* opacity: 0; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--bg-1-r), var(--bg-1-g), var(--bg-1-b), 1);
    /* transition: opacity .5s; */
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transform: translateY(50vh) rotate(180deg);
    transition: clip-path .5s, transform 1s;
    backdrop-filter: blur(0);
}

.modal-open modal-win {
    /* visibility: visible; */
    /* opacity: 1; */
    background-color: rgba(var(--bg-2-r), var(--bg-2-g), var(--bg-2-b), .75);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateX(0) rotate(0);
    transition: clip-path .5s, transform .5s, background-color  .5s ease .5s, backdrop-filter .5s ease .5s;
    backdrop-filter: blur(8px);
}

modal-win>h1:first-child {
    background-color: var(--bg-1);
    color: var(--txt-0);
    margin: 0;
    width: 100%;
    line-height: 50px;
    box-sizing: border-box;
    /* border: 10px solid var(--bg-2); */
    text-align: center;
    box-shadow:
    0 15px 40px -10px #000,
    0 15px 20px -5px #000;
}

modal-win>.content {
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 20px;
    box-sizing: border-box;
}

modal-win>.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px; right: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-close);
    outline: none;
    box-shadow: 0 3px 3px 0 #000;
}

modal-win>.close:active {
    margin-top: 3px;
    box-shadow: none;
}

modal-win>.content .grid {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

modal-win>.content .grid>* {width: 150px; height: 150px; margin: 10px;}

.groups>* {
  position: relative;
  background-color: var(--bg-1);
  box-shadow: 0 5px 20px 5px #000;
  box-sizing: border-box;
  border: 2px solid #fff2;
  border-radius: 3px;
}

.groups>*::before {
  content: attr(data-group);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.25em;
  line-height: 1.25em;
  color: var(--txt-0);
  text-align: center;
  background-color: #0008;
  transition: .5s;
}

.groups>*:hover::before {
  height: 2em;
  line-height: 2em;
}
